In [ ]:
import numpy as np
import itertools

1 11
2 12
3 13
4 14
5 15
6 16
7 17
8 18
9 19
10 21
11 22
12 23
13 24
14 25
15 26
16 27
17 28
18 29
19 31
20 32
21 33
22 34
23 35
24 36
25 37
26 38
27 39
28 41
29 42
30 43
31 44
32 45
33 46
34 47
35 48
36 49
37 51
38 52
39 53
40 54
41 55
42 56
43 57
44 58
45 59
46 61
47 62
48 63
49 64
50 65
51 66
52 67
53 68
54 69
55 71
56 72
57 73
58 74
59 75
60 76
61 77
62 78
63 79
64 81
65 82
66 83
67 84
68 85
69 86
70 87
71 88
72 89
73 91
74 92
75 93
76 94
77 95
78 96
79 97
80 98
81 99

In [ ]:
for p in itertools.product("01",repeat=4):
    print(''.join(p))

0000
0001
0010
0011
0100
0101
0110
0111
1000
1001
1010
1011
1100
1101
1110
1111